.services-section {
  background: black;
  padding: 5rem 2rem;
  text-align: center;
  color: #fff;
}

.services-heading {
  font-weight: bold;
  font-size: 80px;
  font-family: "Playfair Display", serif;
  color: white;
  margin-top: -10px;
}

.services-subheading {
  font-size: 100px;
  color: rgb(31, 30, 30);
  font-weight: bold;
  margin-bottom: 100px;
  margin-top: -120px;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* exactly 3 columns */
  gap: 100px;
  justify-items: center;
  margin: 100px;
}

.service-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  max-width: 340px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(30px);
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(20, 184, 166, 0.5);
}

.service-icon {
  color: #14b8a6;
  margin-bottom: 1rem;
}

.service-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.service-desc {
  font-size: 0.95rem;
  color: #d1d5db;
  margin-bottom: 1rem;
}

.service-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.service-tag {
  background: rgba(0, 162, 255, 0.15);
  color: #14b8a6;
  padding: 0.3rem 0.8rem;
  border-radius: 999px;
  font-size: 0.8rem;
  font-weight: 500;
}
