.skill-contain {
  position: relative;
  text-align: center;
  margin-top: -80px;
}
.skill-heading {
  font-weight: bold;
  font-size: 80px;
  font-family: "Playfair Display", serif;
  color: white;
}
.skill-subheading {
  font-size: 100px;
  color: rgb(31, 30, 30);
  font-weight: bold;
  margin-bottom: 100px;
  margin-top: -120px;
}
.skill-box {
  height: 800px;
  margin-top: -300px;
}
.skill-contain {
  text-align: center;
  position: relative;
}

.skill-buttons {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
  z-index: 2;
  margin-top: -50px;
}

.skill-buttons button {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background: #333;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.skill-buttons button:hover {
  background: #555;
}

.skill-box {
  width: 100%;
  height: 600px;
  margin-top: -150px;
  position: relative;
  z-index: 1;
}